=begin
#Cloud API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1

=end

require 'cgi'

module CloudApiClient
  class EnvironmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Environment
    # @param organization_id [String] 
    # @param environment_input [EnvironmentInput] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentOutput]
    def create_environment_api_v1_organizations_organization_id_environments_post(organization_id, environment_input, opts = {})
      data, _status_code, _headers = create_environment_api_v1_organizations_organization_id_environments_post_with_http_info(organization_id, environment_input, opts)
      data
    end

    # Create Environment
    # @param organization_id [String] 
    # @param environment_input [EnvironmentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentOutput, Integer, Hash)>] EnvironmentOutput data, response status code and response headers
    def create_environment_api_v1_organizations_organization_id_environments_post_with_http_info(organization_id, environment_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.create_environment_api_v1_organizations_organization_id_environments_post ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.create_environment_api_v1_organizations_organization_id_environments_post"
      end
      # verify the required parameter 'environment_input' is set
      if @api_client.config.client_side_validation && environment_input.nil?
        fail ArgumentError, "Missing the required parameter 'environment_input' when calling EnvironmentsApi.create_environment_api_v1_organizations_organization_id_environments_post"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(environment_input)

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentOutput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.create_environment_api_v1_organizations_organization_id_environments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#create_environment_api_v1_organizations_organization_id_environments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Environment By Id
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Integer]
    def delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete(environment_id, organization_id, opts = {})
      data, _status_code, _headers = delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete_with_http_info(environment_id, organization_id, opts)
      data
    end

    # Delete Environment By Id
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete_with_http_info(environment_id, organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete ...'
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling EnvironmentsApi.delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete"
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments/{environment_id}'.sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#delete_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Environment Allowed Assets
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<AssetBundle>]
    def get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get(environment_id, organization_id, opts = {})
      data, _status_code, _headers = get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get_with_http_info(environment_id, organization_id, opts)
      data
    end

    # Get Environment Allowed Assets
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AssetBundle>, Integer, Hash)>] Array<AssetBundle> data, response status code and response headers
    def get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get_with_http_info(environment_id, organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get ...'
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling EnvironmentsApi.get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get"
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments/{environment_id}/asset_bundles'.sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AssetBundle>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#get_environment_allowed_assets_api_v1_organizations_organization_id_environments_environment_id_asset_bundles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Environment By Id
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentOutput]
    def get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get(environment_id, organization_id, opts = {})
      data, _status_code, _headers = get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get_with_http_info(environment_id, organization_id, opts)
      data
    end

    # Get Environment By Id
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentOutput, Integer, Hash)>] EnvironmentOutput data, response status code and response headers
    def get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get_with_http_info(environment_id, organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get ...'
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling EnvironmentsApi.get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get"
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments/{environment_id}'.sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentOutput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#get_environment_by_id_api_v1_organizations_organization_id_environments_environment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Environment Connections
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ConnectionOutput>]
    def get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get(environment_id, organization_id, opts = {})
      data, _status_code, _headers = get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get_with_http_info(environment_id, organization_id, opts)
      data
    end

    # Get Environment Connections
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ConnectionOutput>, Integer, Hash)>] Array<ConnectionOutput> data, response status code and response headers
    def get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get_with_http_info(environment_id, organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get ...'
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling EnvironmentsApi.get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get"
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments/{environment_id}/connections'.sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ConnectionOutput>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#get_environment_connections_api_v1_organizations_organization_id_environments_environment_id_connections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Environments
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<EnvironmentOutput>]
    def get_environments_api_v1_organizations_organization_id_environments_get(organization_id, opts = {})
      data, _status_code, _headers = get_environments_api_v1_organizations_organization_id_environments_get_with_http_info(organization_id, opts)
      data
    end

    # Get Environments
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EnvironmentOutput>, Integer, Hash)>] Array<EnvironmentOutput> data, response status code and response headers
    def get_environments_api_v1_organizations_organization_id_environments_get_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.get_environments_api_v1_organizations_organization_id_environments_get ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.get_environments_api_v1_organizations_organization_id_environments_get"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EnvironmentOutput>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.get_environments_api_v1_organizations_organization_id_environments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#get_environments_api_v1_organizations_organization_id_environments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Environment
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param environment_input [EnvironmentInput] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentOutput]
    def update_environment_api_v1_organizations_organization_id_environments_environment_id_put(environment_id, organization_id, environment_input, opts = {})
      data, _status_code, _headers = update_environment_api_v1_organizations_organization_id_environments_environment_id_put_with_http_info(environment_id, organization_id, environment_input, opts)
      data
    end

    # Update Environment
    # @param environment_id [String] 
    # @param organization_id [String] 
    # @param environment_input [EnvironmentInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentOutput, Integer, Hash)>] EnvironmentOutput data, response status code and response headers
    def update_environment_api_v1_organizations_organization_id_environments_environment_id_put_with_http_info(environment_id, organization_id, environment_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnvironmentsApi.update_environment_api_v1_organizations_organization_id_environments_environment_id_put ...'
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling EnvironmentsApi.update_environment_api_v1_organizations_organization_id_environments_environment_id_put"
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling EnvironmentsApi.update_environment_api_v1_organizations_organization_id_environments_environment_id_put"
      end
      # verify the required parameter 'environment_input' is set
      if @api_client.config.client_side_validation && environment_input.nil?
        fail ArgumentError, "Missing the required parameter 'environment_input' when calling EnvironmentsApi.update_environment_api_v1_organizations_organization_id_environments_environment_id_put"
      end
      # resource path
      local_var_path = '/api/v1/organizations/{organization_id}/environments/{environment_id}'.sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(environment_input)

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentOutput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"EnvironmentsApi.update_environment_api_v1_organizations_organization_id_environments_environment_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnvironmentsApi#update_environment_api_v1_organizations_organization_id_environments_environment_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
